// HTML Nodes

body {
    // color: white;
    font-family: "Source Sans Pro", sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.4em;
    font-size: 1em;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    outline-width: 0;
    border-bottom-color: rgb(79, 139, 181);
    border-bottom-style: solid;
    border-bottom-width: 2px;
}